mixin footer(data)
    .container.text-muted
        footer.footer
            hr
            small.pull-left
                a.text-muted(href="#") Profile
                | &nbsp; | &nbsp;
                a.text-muted(href="#") Newsfeed
                | &nbsp; | &nbsp;
                a.text-muted(href="#") About
                | &nbsp; | &nbsp;
                a.text-muted(href="#") Team

            small.pull-right
                |&copy; 2016 &nbsp;
                a.text-muted(href="http://b-ff.ru") B-ff

            br
            br